#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background-color: #fff;
}

.site-layout .site-layout-background {
    background:#fff;
}
.ant-layout-sider-children {
    background-color: #fff;
}
.logo{
    padding: 15px;
}
h5{
    font-size: 16px;
}
.trigger{
    font-size: 25px;
}

.logout{
    float: right;
    margin-right: 30px;
}

.selectTrans{
    float: right;
    width: 120px;
    margin-right: 10px;
    margin-top: 12px;
}